# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
.env*.local

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build folders
build/
dist/
coverage/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log

# Typescript
*.tsbuildinfo

# Generated native folders
/ios
/android

# Temporary
tmp/
temp/

# Example apps
app-example
